<nav class="navbar mb-4 navbar-expand-lg navbar-light bg-light">
  <div class="d-flex justify-content-center align-items-center">
      <i class="pi pi-align-justify menu-target"></i>
      <a class="navbar-brand">Dash <span>board</span></a>
  </div>
  <div id="my-nav" class="ml-auto">
      <div class="mr-auto navbar-nav d-flex justify-content-center align-items-center">
          <div class="color-theme active active-sun d-flex justify-content-center align-items-center mr-3">
              <span>
                  <i class="pi pi-sun" aria-hidden="true"></i>
              </span>
              <span>
                  <i class="pi pi-moon" aria-hidden="true"></i>
              </span>
          </div>
          <div class="profil d-flex justify-content-center align-items-center">
              <span class="profil-info text-right mr-3">
                  <h4>Salut, <span>Edwige</span></h4>
                  <p>admin</p>
              </span>
              <span class="profil-img">
                  <img src="./assets/images/admin.jpg" alt="">
              </span>
          </div>
      </div>
  </div>
</nav>
